body{
  background-color: #1B1371;
  min-height: 80vh;
}

main {
  /* 0c2e9e */
  color: #fff;
  font-family: "Press Start 2P", cursive;
  display: flex;
  justify-content: center;
  padding: 50px;
  height: 100%;
}


legend {
  text-align: center;
  margin: 0;
  font-size: 50px;
  margin-bottom: 30px;
  color: #fff;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #3c365e;
  color:#fff;
  border: none;
}

input:focus{
  background-color: #fff;
  color: black;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #c033bb;
  border: none;
  color: #f0ed31;
  cursor: pointer;
}

.btn:hover {
  background-color: #c07dfb;
}

.delete{
  width:12%;
  background-color: rgb(156, 21, 21);
}

.delete:hover{
  background-color: rgb(206, 26, 26);

}

hr{
  color:#c033bb;
}

p {
  font-size: 14px;
  margin-top: 10px;
}
.avatar {
  vertical-align: middle;
  width: 100px;
  height:100px;
  border-radius: 50%;
}

form{
  background-color: #130e53;
  padding: 20px;
  border-radius: 5%;
  margin-top: 50px;
}

img{
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.card-body{
  color: #f0ed31;
}

.card{
  background-color: #130e53;
}

a{
  text-decoration: none;
  color:#f043d9;
}
